html {
  background: #a58d77;
}
body {
  background-color: #f8f7f3;
  border-radius: 40px;
  padding: 30px;
  margin: 30px;
  font-family: "Poppins", sans-serif;
}

/* -------------------header-------------- */



nav {
  position: relative;
  margin: 20px 200px -10px;
  z-index: 1000;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 0 15px 1px rgba(128, 128, 128, 0.264);
}
.nav_bar a {
  display: block;
  padding: 14px 20px;
  color: rgb(12, 12, 12);
  text-decoration: none;
}
.nav_bar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
    background-color: #9e8269;
    border-radius: 30px;
    transition: background-color 0.15s ease, transform 0.1s ease;
}
.logo:hover{
    background-color: #625548;
    color:#a58d77;
}

.logo a{
    color: #f8f7f3;
}


/* ------------carusel---------- */
.carousel {
  position: relative;
  overflow: hidden;
  height: 600px;
  border-radius: 30px;
}

.carousel-inner {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: rgb(77, 77, 77);
  font-size: 2rem;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

button.prev { left: 10px; }
button.next { right: 10px; }

button:hover {
  color: rgba(127, 127, 127, 0.7);
}
